.app{
  display: flex;
  width: 100%;
  max-width: 100vw;
  justify-content: space-around;
}
.sidebar{
  display: block;
}
.sidebott{
  display: flex;
  flex-direction: column;
}

button{
  align-self: start;
}
.all{
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
}
.gril{
  max-width: 600px;
  width: 100%;
  background-color: rgb(172, 165, 165);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 0px 50px;
  height: 90vh;
  border-radius: 20px;
  box-shadow: 3px 3px 5px black;
}
img{
  min-width: 22px;
}
.phones, .emails{
  display: flex;
}
.conts{
  display: flex;
  gap: 200px;
}
.education{
  float: left;
}
.edu, .jobs{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.forms{
  display: flex;
  flex-direction: column;
}